body,
html {
  padding: 0;
  margin: 0;
  background: var(--snow);
  color: var(--charcoal);
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --gunmetal: #1f313bff;
  --rose-taupe: #84594bff;
  --liver: #65463aff;
  --eggshell: #eae3d0ff;
  --beaver: #b68d7aff;
  --charcoal: #333333;
  --snow: #fafafa;
  --dark-green: #006400;
  --forest-green: #228b22;
}

#heading {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

#head-images {
  background-image: url("/AppAcademyWeek3-main/images/wood-bg.png");
  background-repeat: repeat-x;
  background-size: contain;
  padding-bottom: 1.6em;
}

#head-images img {
  width: 36em;
  margin: 0 auto;
  display: block;
}

#head-nav {
  background: var(--dark-green);
  display: flex;
  justify-content: space-around;
}

#head-nav a,
#footer-nav a {
  text-decoration: none;
  color: var(--snow);
  font-size: 1.4em;
  padding: 0.6em 2.4em;
  transition: all 0.2s ease-out;
  text-transform: uppercase;
}

#head-nav a:hover {
  background: var(--forest-green);
}

#img-body img {
  width: 100%;
}

#footer-nav {
  background: var(--forest-green);
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

#footer-nav a:hover {
  background: var(--dark-green);
}
