body,
html {
  padding: 0;
  margin: 0;
  background: var(--snow);
  color: var(--charcoal);
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --gunmetal: #1f313bff;
  --rose-taupe: #84594bff;
  --liver: #572800;
  --eggshell: #ffffff80;
  --beaver: #b68d7aff;
  --charcoal: #333333;
  --snow: #fafafa;
  --dark-green: #006400;
  --forest-green: #228b22;
}

#heading {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

#head-images {
  background-image: url("images/wood-bg.png");
  background-repeat: repeat-x;
  background-size: contain;
  padding-bottom: 1.6em;
}

#head-images img {
  width: 36em;
  margin: 0 auto;
  display: block;
}

#head-nav {
  background: var(--dark-green);
  display: flex;
  justify-content: space-around;
}

#head-nav a,
#footer-nav a {
  text-decoration: none;
  color: var(--snow);
  font-size: 1.4em;
  padding: 0.6em 2.4em;
  transition: all 0.2s ease-out;
  text-transform: uppercase;
}

#head-nav a:hover {
  background: var(--forest-green);
}

#img-body img,
#img-body-blur {
  margin-top: 10.6em;
  width: 100%;
}

#footer-nav {
  background: var(--forest-green);
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

#footer-nav a:hover {
  background: var(--dark-green);
}

#img-body-blur {
  background-image: url("/images/map-blur.png");
  background-size: contain;
}

.animal-container {
  display: flex;
  justify-content: space-between;
  background: var(--eggshell);
  margin: 3em 5em;
  padding: 1em 1.3em;
  border-radius: 1.6em;
}

.animal-container > img {
  width: 2.5em;
  height: 4em;
  padding-top: 1.4em;
}

.animal {
  display: flex;
}

.animal img {
  padding-right: 1em;
  width: 100px;
}

.animal h3 {
  color: var(--liver);
  text-transform: uppercase;
}
